

#bio{
	font-family: fantasy
	font-size: 12px;
	}
#headshot{
	border-radius: 8px;

}
.reference{
	font-size:10px;
}



.nav{
	width: 100%;
	display:inline;
	padding: 20px;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0%;
	background-color: black;
	list-style:none;
	text-align:center;
	padding: 0px  0px 0px 0px;
}

.nav > li > a{
	font-size:18pt;
	white-space: nowrap;
	text-decoration:none;
	color:#44413e;
	

}
.nav > li > a:hover{
	color:#c1c1c1;
}
