
*{margin:0;padding:0;}

#bio{
	font-family: fantasy
	font-size: 12px;
	}
#headshot{
	border-radius: 8px;

}
.reference{
	font-size:10px;
}

html{

	overflow-y: hidden;
	overflow-x: hidden;
	background-image: url(images/testbanner.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size:contain;

}
.nav{
	position: fixed;
	top: 0;
	left: 42%;
	

	list-style:none;
	text-align:center;
	padding: 20px  0px 0px 0px;
}
.nav > li{
	display:inline-block;
	padding: 0 25px 0 25px;
}
.nav > li > a{
	font-size:20pt;

	text-decoration:none;
	color:#44413e;
}

.nav > li > a:hover{
	color:#c1c1c1;
}
