#info-page { width: 400px; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
		p { font: 15px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 0; }



#bio{
	font-family: fantasy
	font-size: 12px;
	}
#headshot{
	border-radius: 8px;

}

#welcome{
	font-size: 36pt;
	font-family: sans-serif;
	font-color: white;
	top: 25%;
	left: 33%;
	position: fixed;

}
.reference{
	font-size:10px;
}

.sep{
	font-size: 18pt;
	font-color: white;
}


.nav{
	width: 100%;
	display:inline;
	padding: 20px;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	margin: 0 ;
	position: fixed;
	top: 0;
	left: 0%;
	background-color: black;
	list-style:none;
	text-align:center;
	padding: 5px  5px 5px 5px;
}

.nav > li > a{
	font-size:16pt;
	font-family: : palantino;
	white-space: nowrap;
	text-decoration:none;
	color:#d6d9db;
	

}
.nav > li > a:hover{
	color:#44413e;
}
